<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <title>Config change</title>
</head>
    <body>
        <h2>Select aggregation parameters</h2>
        <form method="POST">
            <div>Select statistic value:</div>
            <div>
                <label>mean</label>
                <input type="radio" name="mean" value="yes"> YES
                <input type="radio" name="mean" value="no"> NO
                <br>
                <label>median</label>
                <input type="radio" name="median" value="yes"> YES
                <input type="radio" name="median" value="no"> NO
            </div>
            <br>

            <button type="reset">Reset</button>
            <button>Submit</button>
        </form>
    </body>
</html>