<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<head>
    <title>Config change</title>
</head>
    <body>
        <h2>Select filtering parameters</h2>
        <form method="POST">
            <label>Reading name:</label>
            <input name="reading">
            <br>

            <label>Reading date:</label>
            <br>
            start <input name="start" >
            stop <input name="stop">
            <br>

            <label>Value:</label>
            <br>
            over <input name="over">
            under <input name="under">
            <br>

            <button type="reset">Reset</button>
            <button type="submit">Submit</button>
        </form>
    </body>
</html>